<section data-ng-controller="CutomersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Cutomers</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="cutomer in cutomers" data-ng-href="#!/cutomers/{{cutomer._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="cutomer.created | date:'medium'"></span>
				by
				<span data-ng-bind="cutomer.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="cutomer.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!cutomers.$resolved || cutomers.length">
    	No Cutomers yet, why don't you <a href="/#!/cutomers/create">create one</a>?
    </div>
</section>